mixin menuitem (link, text)
  li.header__item
    a(href='#{link}').header__link 
      p.header__link-text  #{text}

mixin contactphone (town, number)
  li.header__contacts-item    
    .header__town= town
    .header__number= number

mixin descriptionblock (icon, text)
  .main__description-item
    a(href='#').main__description-link
      .main__description-icon
        img(src='dist/img/#{icon}.svg' alt='#{text}' onerror="this.onerror=null; this.src='dist/img/#{icon}.png'").image__size
      p.main__description-text #{text}

mixin priceitem (bg, icon, text)
  .price__services-item(style='background-image: url(dist/img/#{bg}.jpg)')
    a(href='#').price__services-link  
      .price__services-half.price__services-half--end  
        .price__services-icon
          img(src='dist/img/#{icon}.svg' alt='#{text}' onerror="this.onerror=null; this.src='dist/img/#{icon}.png'").image__size
      .price__services-half
        p.price__services-text #{text}
