include svg

mixin menuitem (link, text)
  li.header__item
    a(href='#{link}').header__link 
      p.header__link-text  #{text}

mixin headline (text, color)
  .headline
    .headline__block
      if(color === '1')
        p.headline__text.headline__text--color= text
      else
        p.headline__text= text   

mixin contactphone (town, number)
  li.header__contacts-item    
    .header__town= town
    .header__number= number

mixin descriptionblock (icon, text)
  .main__description-item
    a(href='#').main__description-link
      .main__description-icon
        img(src='dist/img/#{icon}.svg' alt='#{text}' onerror="this.onerror=null; this.src='dist/img/#{icon}.png'").image__size
      p.main__description-text #{text}

mixin priceitem (bg, icon, text, vw, vh)
  .price__services-item(style='background-image: url(dist/img/#{bg}.jpg)')
    a(href='#').price__services-link  
      .price__services-half.price__services-half--end  
        .price__services-icon
          svg(width="60" height="60" viewbox="0 0 #{vw} #{vh}").svg
            use(xlink:href='#' + icon)
      .price__services-half
        p.price__services-text #{text}
