mixin menuitem (link, text)
  li.header__item
    a(href='#{link}').header__link 
      p.header__link-text #{text}

mixin headline (text, color)
  .headline
    .headline__block
      if(color === '1')
        p.headline__text.headline__text--color= text
      else
        p.headline__text= text   

mixin contactphone (town, number)
  li.header__contacts-item    
    .header__town= town
    .header__number= number

mixin descriptionblock (icon, text)
  .main__description-item
    a(href='#').main__description-link
      .main__description-icon
        img(src='dist/img/#{icon}.svg' alt='#{text}' onerror="this.onerror=null; this.src='dist/img/#{icon}.png'").image__size
      p.main__description-text #{text}

mixin priceitem (link, bg, icon, text, vw, vh)
  .price__services-item(style='background-image: url(dist/img/#{bg}.jpg)')
    a(href='#' + link).price__services-link  
      .price__services-half.price__services-half--end  
        .price__services-icon
          svg(width="60" height="60" viewbox="0 0 #{vw} #{vh}").svg
            use(xlink:href='#' + icon)
      .price__services-half
        p.price__services-text #{text}

mixin registration (link)
  .registration
    .registration__block
      a(href='#{link}').registration__button Записаться

mixin cityaddress (icon, name, address, time, active)
  .map__city
    if(active === '1')
      svg(width="55" height="55" viewbox="0 0 38 56").svg
        use(xlink:href='#' + icon)
    else
      svg(width="55" height="55" viewbox="0 0 38 56")
        use(xlink:href='#' + icon)
    if(active === '1')
      p.map__cityname.map__cityname--active= name
    else
      p.map__cityname= name
    if(active === '1')
      p.map__cityaddress.map__cityaddress--active= address
    else
      p.map__cityaddress= address
    if(active === '1')
      p.map__citytime.map__citytime--active= time
    else
      p.map__citytime= time